@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,700,300i,400i,700i");
@import url("https://fonts.googleapis.com/css?family=Gothic+A1:300,400,700,300i,400i,700i");

html,
body {
  font-family: "IBM Plex Sans";
  padding: 0;
  margin: 0;
}
.mainpage {
  width: 100vw;
  height: 100vh;
}
/* Graph Preloader */

#graph-loading {
  width: 35px;
  height: 30px;
  z-index: 1000;
  position: relative;
  display: flex;
}

.graph-loading__bar {
  width: 3px;
  height: 30px;
  background: #ffffff;
  display: block;
  float: left;
  margin-left: 3px;
  animation: graph-loader 2s infinite;
}

.graph-loading__bar:nth-of-type(1) {
  animation-delay: 0.2s;
}

.graph-loading__bar:nth-of-type(2) {
  animation-delay: 0.4s;
}

.graph-loading__bar:nth-of-type(3) {
  animation-delay: 0.6s;
}

.graph-loading__bar:nth-of-type(4) {
  animation-delay: 0.8s;
}

.graph-loading__bar:nth-of-type(5) {
  animation-delay: 1s;
}

@keyframes graph-loader {
  0% {
    height: 30px;
    margin-top: 0;
  }

  65% {
    height: 5px;
    margin-top: 25px;
  }

  100% {
    height: 30px;
    margin-top: 0;
  }
}

#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #2d3639;
  z-index: 10000;
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: flex;
}

.loaded #loader-wrapper {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #graph-loading {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* Header */
#header {
  background: transparent;
  overflow: hidden;
  height: 5em;
  left: 0;
  position: fixed;
  text-align: right;
  align-items: center;
  top: 0;
  width: 100%;
  z-index: 1002;
  background: #7b947f;
}

.img1 {
  width: 100px;
  height: auto;
  left: 0;
  margin-top: 20px;
  margin-left: 25px;
  position: absolute;
  z-index: 1003;
}

/* Nav */

nav {
  z-index: 999;
}
ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  position: absolute;
  width: 50%;
  height: 100%;
  text-decoration: none;
  font-family: IBM Plex Sans;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
}

li {
  height: 17%;
  text-decoration: none;
  font-family: IBM Plex Sans;
  color: #ffffff;
}

li a {
  text-decoration: none;
  text-transform: lowercase;
  font-size: 3rem;
  font-family: IBM Plex Sans;
  font-weight: 300;
  color: #ffffff;
  transition: 0.3s;
}

li a:hover {
  color: #f27d35;
  letter-spacing: 4px;
}

p {
  margin: 0;
  font-family: "IBM Plex Sans";
  font-size: 2em;
}

.backop {
  background: rgba(45, 54, 57);
  height: 5em;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  opacity: 0;
  z-index: 1002;
  transition: 0.6s ease-in;
}
/* Menu Button */

.menu-btn {
  position: absolute;
  align-items: center;
  display: flex;
  right: 25px;
  margin-top: 20px;
  flex-direction: column;
  color: white;
  cursor: pointer;
  z-index: 10000;
}

.menu-btn span {
  background-color: white;
  width: 2em;
  height: 0.2em;
  margin: 0.26em 0;
  display: block;
  transition: all 0.4s ease;
  transform-origin: 0 0;
  z-index: 1005;
}

.menu-panel {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #2d3639;
  z-index: 1004;
  opacity: 0;
  display: flex;
  pointer-events: none;
  justify-content: center;
  transition: all 0.3s ease;
}

.Diam span:nth-child(1) {
  transform: rotate(45deg) translate(1px, -1px);
  background-color: #ffffff;
}

.Diam span:nth-child(1):hover ~ .Diam span:nth-child(3) {
  background-color: #7b947f;
}

.Diam span:nth-child(2) {
  width: 0%;
  background-color: #ffffff;
  opacity: 0;
}

.Diam span:nth-child(3) {
  transform: rotate(-45deg) translate(1px, 0);
  background-color: #ffffff;
}

.showPanel {
  opacity: 1;
  pointer-events: auto;
}
/* banner */

.hbanner {
  font-size: 9rem;
  font-weight: 600;
  z-index: 1002;
  color: white;
  transition: 0.6s ease-in-out;
  -webkit-text-stroke: 2px white;
}

.hbanner:hover {
  letter-spacing: 7px;
  font-size: 9.25rem;
  color: transparent;
  -webkit-text-stroke: 2px white;
}

#main {
  display: flex;
  border-top: 0;
  min-height: 100vh;
  height: 100vh !important;
  width: 100%;
  position: relative;
  justify-content: center;
  padding: 0;
  margin: 0;
  align-items: center;
  text-align: center;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 1000;
}

.background {
  position: absolute;
  z-index: 1000;
  height: auto;
  min-height: 100vh;
  min-width: 100vw;
}

.img2 {
  width: 100vw;
  height: auto;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
}

/* Pages */
.slide {
  width: 100vw;
  height: 250vh;
  background: #2d3639;
  box-sizing: border-box;
  color: white;
  display: flex;
  overflow: hidden;
}

.slide1 {
  width: 100vw;
  height: 300vh;
  background: #2d3639;
  box-sizing: border-box;
  color: white;
  display: flex;
  overflow: hidden;
}

.short {
  height: 70vh;
  overflow: hidden;
}

.slide h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: lowercase;
}

.slide p {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  z-index: 100;
}

.slide h2 {
  color: white;
  font-size: 3.5rem;
  font-weight: 200;
  z-index: 1000;
  position: absolute;
  margin-top: 40vh;
  border-bottom: 1px solid white;
}

.slide p span {
  font-style: italic;
}

.view {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
  overflow: scroll;
}
.view h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 300;
  text-transform: lowercase;
}

.view h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 300;
  margin-top: 40vh;
  position: absolute;
  margin-left: 100px;
  margin-right: 30vw;
  font-family: "Gothic A1";
}

.view h3 span {
  background-image: linear-gradient(#f27d35, #f27d35);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  background-size: 100% 2px;
  transition: background-size 0.5s, background-position 0.3s ease-in 0.5s;
}

.view h3 span:hover {
  background-size: 100% 100%;
  background-position: 0% 0%;
  transition: background-position 0.5s, background-size 0.3s ease-in 0.5s;
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center h3 {
  word-spacing: 2.5em;
  font-size: 3.5rem;
  font-weight: 600;
  position: relative;
  display: block;
  margin: 60px;
  margin-bottom: 0;
}
.view p {
  color: white;
  font-size: 1rem;
  font-weight: 200;
  z-index: 100;
  position: relative;
}

.view h2 {
  color: white;
  font-size: 3.5rem;
  font-weight: 200;
  z-index: 1000;
  position: relative;
  margin-top: 40vh;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

.view p span {
  font-style: italic;
}
.def {
  position: relative;
}
.slide h1 span {
  font-style: italic;
  background-attachment: fixed;
}

.white {
  background: white;
}

.green {
  background: #7b947f;
  justify-content: center;
}

.block {
  background: no-repeat
    url("/Users/chriskang/Desktop/Aarden/Seoul-GettyImages-1140551641.jpg");
  background-size: cover;
  width: 63vw;
  height: 70vh;
  top: 0;
  margin: 0;
  padding: 0;
  right: 0;
  position: absolute;
  z-index: 1001;
}
.tcontainer {
  height: 100vh;
  width: 75vw;
  right: 0;
  box-sizing: border-box;
  display: block;
  margin: 0;
  position: absolute;
  padding-top: 19vh;
}

.bottomfull {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -1px;
}

.block2 {
  width: 100%;
  height: 40px;
  background: #2d3639;
  bottom: 0;
  display: block;
  position: absolute;
}

.black {
  background: #2d3639;
  display: block;
}

.change-color {
  background: #2d3639;
}
/* Thumbnail gallery */

.slidegal {
  width: 100vw;
  height: 400vh;
  background: white;
  box-sizing: border-box;
  color: white;
  display: block;
  overflow: hidden;
  padding-top: 40px;
  justify-content: center;
}

.slidegal h1 {
  color: white;
  font-size: 3rem;
  font-weight: 300;
  text-transform: lowercase;
  position: relative;
  display: block;
  margin-right: auto;
  margin-left: auto;
  transform: translate(35%);
  font-style: italic;
}

.flex-grid {
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
}

.flex-grid .col {
  width: 25vw;
}

.col {
  flex: none;
  background: #fff;
  margin: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 25vw;
  border: 1px solid #2d3639;
  transition: 0.5s;
  border-radius: 0;
}

.col:hover {
  border: 1px solid #f27d35;
  border-radius: 10%;
}

mark {
  display: inline-block;
  line-height: 3px;
  padding-bottom: 0.4em;
  top: 1em;
  background-color: #7b947f;
  color: white;
}

.col p {
  margin-top: 20rem;
  font-size: 1.6rem;
  color: #2d3639;
}

.col a {
  font-size: 1rem;
  margin-top: 13rem;
  position: absolute;

  color: #2d3639;
}

.flex-grid1 {
  justify-content: flex-between;
  flex-direction: row;
  display: flex;
}

.boxface {
  width: 155px !important;
  height: 190px !important;
  background: #fff;
  margin: 30px;
  background-image: url("/Users/chriskang/Desktop/Aarden/신동환.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 107%;
  transition: 1s;
}

.boxface2 {
  width: 155px !important;
  height: 190px !important;
  border-bottom: 1px solid white;
  margin: 30px;
  margin-top: 0;
  transition: 1s;
}

.boxface2 p:hover {
  color: #f27d35;
}

.boxface2 p {
  font-size: 1.2rem;
  transition: 0.4s;
  white-space: normal;
  margin-right: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.boxface2 p span {
  font-family: Gothic A1;
}

.boxface2 a {
  position: absolute;
  bottom: 235px;
  opacity: 0.6;
  transition: 0.4s;
}

.boxface2 a:hover {
  color: #f27d35;
  opacity: 1;
}
@media (max-width: 400px) {
  .slide {
    display: block;
  }
}

.counter {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Gothic A1";
  z-index: 1000;
  margin: 60px;
  margin-bottom: 0;
  position: relative;
  display: block;
}

.sandwich {
  display: block;
}

.sandwich p {
  font-size: 1.65rem;
  font-weight: 500;
  letter-spacing: 1px;
}
#counters_1 {
  display: flex;
  padding-top: 35vh;
  justify-content: space-evenly;
}

.scroll {
  overflow-y: scroll;
  scroll-snap-type: mandatory;
}

/* Footer */
footer {
  width: 100vw;
  height: 55vh;
  background: #7b947f;
  display: flex;
  justify-content: center;
}

footer h1 {
  color: white;
  font-size: 1.15rem;
  font-weight: 300;
  text-transform: lowercase;
  position: absolute;
  display: block;
  right: 25vw;
  margin-top: 100px;
}

footer small {
  margin: 100px;
  position: absolute;
  color: white;
  opacity: 0.6;
  left: 0;
  margin-top: 50vh;
}

footer a {
  display: block;
  color: white;
  font-size: 1rem;
  font-weight: 200;
  opacity: 0.8;
  margin: 12px;
  text-decoration: none;
  transition: 0.6s;
}

footer a:hover {
  letter-spacing: 2px;
}

.footertext {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
  margin-top: 19vh;
  margin-right: 16.8vw;
}

.bright {
  margin-top: 100px;
  margin-left: 100px;
}
